<div class="container content">
  <p>
    home works!
  </p>
  
  <div class="row">             <!-- responsive row has 12 columns by default -->
    <div class="col-md-6">      <!-- uses 6 columns on medium and larger screens... -->
    </div>
    <div class="col-md-6">      <!-- uses 12 columns on smaller than medium screens -->
    </div>

    <div class="col-md-6">1</div> <!-- we use mat-card instead of div -->
    <div class="col-md-6">2</div>
    <div class="col-md-6 d-block d-lg-none">3</div> <!-- will be hidden on large screens -->
    <div class="col-md-6 d-block d-lg-none">4<div>

  </div>

</div>

